<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="jsEngineSwitcher">
      <section name="core" type="JavaScriptEngineSwitcher.Core.Configuration.CoreConfiguration, JavaScriptEngineSwitcher.Core" />
      <section name="msie" type="JavaScriptEngineSwitcher.Msie.Configuration.MsieConfiguration, JavaScriptEngineSwitcher.Msie" />
    </sectionGroup>
    <sectionGroup name="bundleTransformer">
      <section name="core" type="BundleTransformer.Core.Configuration.CoreSettings, BundleTransformer.Core" />
      <section name="less" type="BundleTransformer.Less.Configuration.LessSettings, BundleTransformer.Less" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="SiteID" value="71" />
    <add key="DashBoardSiteID" value="71" />
    <add key="CKFinderTempPath" value="/Editable/temp" />
    <add key="AssetsFolder" value="/Editable/Assets" />
    <add key="AssetsThumbs" value="/Editable/AssetsThumbs" />
    <add key="JpgMaxWidth" value="650" />
    <add key="JpgMaxHeight" value="1300" />
    <add key="AjaxUploaderMaxSizeKB" value="20000" />
    <add key="GalleryImages" value="/Editable/GalleryImages" />
    <add key="GalleryThumbs" value="/Editable/GalleryThumbs" />
    <add key="GalleryThumbMaxHeight" value="75" />
    <add key="GalleryThumbMaxWidth" value="120" />
    <add key="GallerImageMaxHeight" value="390" />
    <add key="GalleryImageMaxWidth" value="586" />
    <add key="UploadImageImageMaxHeight" value="1500" />
    <add key="UploadImageMaxWidth" value="650" />
    <add key="UploaderTemp" value="/Editable/UploaderTemp" />
    <add key="StoreBaseURL" value="www.boydmotorcycles.co.nz/Store" />
    <add key="StoreEmail" value="parts@boyds.co.nz" />
    <add key="StoreEmailCC" value="audrey@spiral.co.nz" />
    <add key="UserService.UserService" value="http://dashboard.spiral.co.nz/WebService/UserService.asmx" />
    <add key="DPSPxPayUserIdtest" value="BoydMotorcycles_dev" />
    <add key="DPSPxPayKeytest" value="0a9a83080f4bc0ebe9ab0bb7d381ad265aa370b1f94208cd0dc4f13a90147a5e" />
    <add key="DPSPxPayUserId" value="BoydMotorcycles" />
    <add key="DPSPxPayKey" value="e971cc85f244b8dc61e2aa0904260caed40b68309d1637ebc9159c3f9618b614" />
    <add key="DPSEmailAddress" value="cain@spiral.co.nz" />
    <add key="DPSPurchaseReturnURL" value="http://www.boydmotorcycles.co.nz/Store/DPSReturn.aspx" />
    <add key="StoreBaseURL" value="www.boydmotorcycles.co.nz/Store" />
    <add key="StoreEmail" value="parts@boyds.co.nz" />
    <add key="StoreEmailCC" value="audrey@spiral.co.nz" />
    <add key="base_uri" value="https://api.createsend.com/api/v3.1" />
    <add key="base_oauth_uri" value="https://api.createsend.com/oauth" />
  </appSettings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!--  --> <sessionState allowCustomSqlDatabase="true" mode="SQLServer" timeout="50" sqlConnectionString="Server=pounamu.spiral.co.nz;Database=ASPState;User ID=SessionStateUser;Password=SessionSt8Usr" /> 
    <httpRuntime requestValidationMode="2.0" maxRequestLength="1048576" targetFramework="4.5" />
    <globalization culture="en-NZ" uiCulture="en-NZ" />
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="Microsoft.Web.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
    <customErrors mode="Off" />
    <pages theme="DefaultTheme" controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <add name="LessAssetHandler" path="*.less" verb="GET" type="BundleTransformer.Less.HttpHandlers.LessAssetHandler, BundleTransformer.Less" resourceType="File" preCondition="" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="Force HTTPS" enabled="true">
          <match url="(.*)" ignoreCase="false" />
          <conditions>
            <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="Redirect" url="https://www.boydmotorcycles.co.nz/{R:1}" appendQueryString="true" redirectType="Temporary" />
        </rule>
        
        <rule name="Canonical Host Name (HTTPS)" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_HOST}" pattern="^www\.boydmotorcycles\.co\.nz$" negate="true" />
          </conditions>
          <action type="Redirect" url="https://www.boydmotorcycles.co.nz/{R:1}" redirectType="Temporary" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <connectionStrings>
    <add name="BoydsConnectionString" connectionString="Data Source=210.48.75.10;Initial Catalog=Boyds;Persist Security Info=True;User ID=Boyds;Password=4ty1bn;Connect Timeout=600" providerName="System.Data.SqlClient" />
    <add name="WebShell_3Entities" connectionString="metadata=res://*/App_Code.WebShell_VB.Webshell.csdl|res://*/App_Code.WebShell_VB.Webshell.ssdl|res://*/App_Code.WebShell_VB.Webshell.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=pounamu.spiral.co.nz;Initial Catalog=Boyds_webshell_2015;Persist Security Info=True;User ID=Boyds;Password=4ty1bn;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BoydsEntitiesa" connectionString="metadata=res://*/App_Code.VBCode.StoreEntity.BoydsEntities.csdl|res://*/App_Code.VBCode.StoreEntity.BoydsEntities.ssdl|res://*/App_Code.VBCode.StoreEntity.BoydsEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=210.48.75.10;initial catalog=Boyds;persist security info=True;user id=Boyds;password=4ty1bn;connect timeout=600;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BoydsEntities" connectionString="metadata=res://*/App_Code.VBCode.StoreEntity.BoydsEntities.csdl|res://*/App_Code.VBCode.StoreEntity.BoydsEntities.ssdl|res://*/App_Code.VBCode.StoreEntity.BoydsEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=210.48.75.10;initial catalog=Boyds;persist security info=True;user id=Boyds;password=4ty1bn;multipleactiveresultsets=True;connect timeout=600;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <jsEngineSwitcher xmlns="http://tempuri.org/JavaScriptEngineSwitcher.Configuration.xsd">
    <core>
      <engines>
        <add name="MsieJsEngine" type="JavaScriptEngineSwitcher.Msie.MsieJsEngine, JavaScriptEngineSwitcher.Msie" />
      </engines>
    </core>
  </jsEngineSwitcher>
  <bundleTransformer xmlns="http://tempuri.org/BundleTransformer.Configuration.xsd">
    <core>
      <css>
        <translators>
          <add name="NullTranslator" type="BundleTransformer.Core.Translators.NullTranslator, BundleTransformer.Core" enabled="false" />
          <add name="LessTranslator" type="BundleTransformer.Less.Translators.LessTranslator, BundleTransformer.Less" />
        </translators>
        <postProcessors>
          <add name="UrlRewritingCssPostProcessor" type="BundleTransformer.Core.PostProcessors.UrlRewritingCssPostProcessor, BundleTransformer.Core" useInDebugMode="false" />
        </postProcessors>
        <minifiers>
          <add name="NullMinifier" type="BundleTransformer.Core.Minifiers.NullMinifier, BundleTransformer.Core" />
        </minifiers>
        <fileExtensions>
          <add fileExtension=".css" assetTypeCode="Css" />
          <add fileExtension=".less" assetTypeCode="Less" />
        </fileExtensions>
      </css>
      <js>
        <translators>
          <add name="NullTranslator" type="BundleTransformer.Core.Translators.NullTranslator, BundleTransformer.Core" enabled="false" />
        </translators>
        <minifiers>
          <add name="NullMinifier" type="BundleTransformer.Core.Minifiers.NullMinifier, BundleTransformer.Core" />
        </minifiers>
        <fileExtensions>
          <add fileExtension=".js" assetTypeCode="JavaScript" />
        </fileExtensions>
      </js>
    </core>
    <less useNativeMinification="false" ieCompat="true" strictMath="false" strictUnits="false" dumpLineNumbers="None" javascriptEnabled="true">
      <jsEngine name="MsieJsEngine" />
    </less>
  </bundleTransformer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BundleTransformer.Core" publicKeyToken="973c344c93aac60d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.69.0" newVersion="1.9.69.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>